body {
     font: 83.5%/1.5 sans-serif;
     margin: 0;
}
a {
    color: #900;
}
a:visited {
    color: #966;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
    font-weight: normal;
}

p {
    margin: 0 0 0.5em 0;
}

#content {
    margin: 2em auto;
    width: 600px;
}

#description {
    position: absolute;
    width: 20em;
    background: white;
    padding: 1em;
    border: 1px solid black;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    font-size: 0.9em;
}
#description, #description.bottomleft {
    bottom: 1em;
    left: 1em;
    top: auto;
    right: auto;
}
#description.topleft {
    top: 1em;
    left: 1em;
    bottom: auto;
    right: auto;
}
#description.topright {
    top: 1em;
    left: auto;
    bottom: auto;
    right: 1em;
}
#description.bottomright {
    top: auto;
    left: auto;
    bottom: 1em;
    right: 1em;
}
